.img-container {
	position: relative;
	margin-top: 2em;
	/* width: 8rem; */
	display: flex;
	flex-basis: 50%;
}

.img-container img {
	transition: opacity 1s ease-in-out;
}

img.sajda {
	padding-top: 4em;
}

img.aazan {
	z-index: 9999;
}

div.img-container img.aazan:hover {
	opacity: 0;
}
